/*#first{
    background-color:yellowgreen;
}
#second{
    background-color: limegreen;
}*/
/*.first{
    background-color: turquoise;
}
.second{
    background-color: tomato;
}*/
/*
input,#h6,.paragraph{
    background-color: blue;
}*/
  h1+p{
    background-color: chartreuse;
    color: cyan;
}
 p+{
background-color: cornflowerblue;
color: coral;
}
