/* DIV-7 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 16px;

width: 375px;
max-width: 384px;
height: 812px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* DIV-8 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 0px 16px;

width: 343px;
height: 80px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* DIV-9 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
isolation: isolate;

width: 40px;
height: 40px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* DIV-10 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 40px;
height: 40px;

background: linear-gradient(135deg, #8546EF 0%, #FCC7D7 100%);
mix-blend-mode: normal;
box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.1), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* I-11 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
isolation: isolate;

width: 18.77px;
height: 28px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon-12 */

position: absolute;
width: 18.75px;
height: 18px;
left: 0px;
top: 5px;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Group */

position: absolute;
left: 2%;
right: 2%;
top: 7.29%;
bottom: 7.33%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* Vector */

position: absolute;
left: 2%;
right: 2%;
top: 7.29%;
bottom: 7.33%;

background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);


/* DIV-13 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 2px;

position: absolute;
width: 40px;
height: 40px;
left: 0px;
top: 0px;

mix-blend-mode: normal;
border: 2px solid rgba(255, 255, 255, 0.3);
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* DIV-14 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 343px;
height: 732px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* margin-wrap */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 0px 24px;

width: 343px;
height: 82.75px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* DIV-15 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 343px;
height: 58.75px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* margin-wrap */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 0px 8px;

width: 343px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* H1-16 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 343px;
height: 28px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Create Your Account-18 */

width: 197px;
height: 28px;

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
display: flex;
align-items: center;
text-align: center;

color: #1F2937;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* margin-wrap */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 31.5px;

width: 343px;
height: 22.75px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* P-19 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 280px;
max-width: 280px;
height: 22.75px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Join thousands who chat with AI daily-21 */

width: 240px;
height: 23px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 23px;
/* identical to box height, or 162% */
display: flex;
align-items: center;
text-align: center;

color: #4B5563;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* margin-wrap */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 0px 16px;

width: 343px;
height: 444px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* DIV-22 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 21px;

width: 343px;
height: 428px;

background: rgba(255, 255, 255, 0.8);
mix-blend-mode: normal;
border: 1px solid rgba(255, 255, 255, 0.4);
box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(6px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* FORM-23 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 301px;
height: 386px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* DIV-24 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
isolation: isolate;

width: 301px;
height: 46px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* INPUT */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 13px 17px 13px 45px;
isolation: isolate;

width: 301px;
height: 46px;

background: rgba(255, 255, 255, 0.6);
mix-blend-mode: normal;
border: 1px solid #E5E7EB;
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* INPUT-25 */

position: absolute;
width: 239px;
height: 20px;
left: 45px;
top: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #6B7280;

mix-blend-mode: normal;
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
z-index: 0;


/* INPUT-25 */

width: 239px;
height: 20px;


mix-blend-mode: normal;
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* DIV-26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 16.67px;
height: 24px;
left: 16px;
top: 11px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* margin-wrap */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 0px 0px;

width: 16.67px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon-27 */

width: 16.67px;
height: 16px;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group */

position: absolute;
left: 10%;
right: 10%;
top: 12.5%;
bottom: 12.5%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* Vector */

position: absolute;
left: 10%;
right: 10%;
top: 12.5%;
bottom: 12.5%;

background: #6B7280;
transform: matrix(1, 0, 0, -1, 0, 0);


/* margin-wrap */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 0px 0px;

width: 301px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* DIV-28 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
isolation: isolate;

width: 301px;
height: 46px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* INPUT */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 13px 45px;
isolation: isolate;

width: 301px;
height: 46px;

background: rgba(255, 255, 255, 0.6);
mix-blend-mode: normal;
border: 1px solid #E5E7EB;
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* INPUT-29 */

position: absolute;
width: 211px;
height: 20px;
left: 45px;
top: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #6B7280;

mix-blend-mode: normal;
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
z-index: 0;


/* INPUT-29 */

width: 211px;
height: 20px;


mix-blend-mode: normal;
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* DIV-30 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 16.67px;
height: 24px;
left: 16px;
top: 11px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* margin-wrap */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 0px 0px;

width: 16.67px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon-31 */

width: 16.67px;
height: 16px;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group */

position: absolute;
left: 14%;
right: 14%;
top: 8.33%;
bottom: 8.33%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* Vector */

position: absolute;
left: 14%;
right: 14%;
top: 8.33%;
bottom: 8.33%;

background: #6B7280;
transform: matrix(1, 0, 0, -1, 0, 0);


/* BUTTON-32 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 16.67px;
height: 24px;
left: 268.33px;
top: 11px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* margin-wrap */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 0px 0px;

width: 16.67px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon-33 */

width: 16.67px;
height: 16px;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group */

position: absolute;
left: 6.72%;
right: 6.72%;
top: 12.5%;
bottom: 12.5%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* Vector */

position: absolute;
left: 6.72%;
right: 6.72%;
top: 12.5%;
bottom: 12.5%;

background: #6B7280;
transform: matrix(1, 0, 0, -1, 0, 0);


/* margin-wrap */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 0px 0px;

width: 301px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* DIV-34 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
isolation: isolate;

width: 301px;
height: 46px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* INPUT */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 13px 45px;
isolation: isolate;

width: 301px;
height: 46px;

background: rgba(255, 255, 255, 0.6);
mix-blend-mode: normal;
border: 1px solid #E5E7EB;
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* INPUT-35 */

position: absolute;
width: 211px;
height: 20px;
left: 45px;
top: 13px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #6B7280;

mix-blend-mode: normal;
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
z-index: 0;


/* INPUT-35 */

width: 211px;
height: 20px;


mix-blend-mode: normal;
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* DIV-36 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 16.67px;
height: 24px;
left: 16px;
top: 11px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* margin-wrap */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 0px 0px;

width: 16.67px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon-37 */

width: 16.67px;
height: 16px;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group */

position: absolute;
left: 14%;
right: 14%;
top: 4.17%;
bottom: 4.17%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* Vector */

position: absolute;
left: 14%;
right: 14%;
top: 4.17%;
bottom: 4.17%;

background: #6B7280;
transform: matrix(1, 0, 0, -1, 0, 0);


/* BUTTON-38 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 16.67px;
height: 24px;
left: 268.33px;
top: 11px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* margin-wrap */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 0px 0px;

width: 16.67px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon-39 */

width: 16.67px;
height: 16px;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group */

position: absolute;
left: 6.72%;
right: 6.72%;
top: 12.5%;
bottom: 12.5%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* Vector */

position: absolute;
left: 6.72%;
right: 6.72%;
top: 12.5%;
bottom: 12.5%;

background: #6B7280;
transform: matrix(1, 0, 0, -1, 0, 0);


/* margin-wrap */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 0px 0px;

width: 301px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* DIV-40 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;

width: 301px;
height: 32px;

background: rgba(216, 211, 231, 0.3);
mix-blend-mode: normal;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* P-41 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 285px;
height: 16px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Must be 8+ characters-43 */

width: 124px;
height: 16px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: center;

color: #4B5563;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* margin-wrap */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 0px 0px;

width: 301px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* BUTTON-44 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 0px;

width: 301px;
height: 44px;

background: #8546EF;
mix-blend-mode: normal;
box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* SIGN UP-46 */

width: 57px;
height: 20px;

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.35px;

color: #FFFFFF;

mix-blend-mode: normal;
text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 10px 15px rgba(0, 0, 0, 0.1);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* margin-wrap */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 0px 0px;

width: 301px;
height: 124px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* DIV-47 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 301px;
height: 112px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* BUTTON-48 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 2px;

width: 301px;
height: 52px;

mix-blend-mode: normal;
border: 2px solid #D1D5DB;
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* I-49 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
isolation: isolate;

width: 18.77px;
height: 28px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon-50 */

position: absolute;
width: 18.75px;
height: 18px;
left: 0.01px;
top: 5px;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Group */

position: absolute;
left: 10.8%;
right: 10.8%;
top: 8.33%;
bottom: 8.33%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* Vector */

position: absolute;
left: 10.8%;
right: 10.8%;
top: 8.33%;
bottom: 8.33%;

background: #374151;
transform: matrix(1, 0, 0, -1, 0, 0);


/* margin-wrap */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 0px 0px 8px;

width: 57.38px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* SPAN-51 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 49.38px;
height: 20px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Google-53 */

width: 47px;
height: 20px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;

color: #374151;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* margin-wrap */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 0px 0px;

width: 301px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* BUTTON-54 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 2px;

width: 301px;
height: 52px;

mix-blend-mode: normal;
border: 2px solid ;
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* I-55 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
isolation: isolate;

width: 18.77px;
height: 28px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon-56 */

position: absolute;
width: 18.75px;
height: 18px;
left: 0.01px;
top: 5px;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Group */

position: absolute;
left: 13.84%;
right: 13.84%;
top: 3.83%;
bottom: 3.83%;

transform: matrix(1, 0, 0, -1, 0, 0);


/* Vector */

position: absolute;
left: 13.84%;
right: 13.84%;
top: 3.83%;
bottom: 3.83%;

background: #374151;
transform: matrix(1, 0, 0, -1, 0, 0);


/* margin-wrap */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 0px 0px 8px;

width: 47.86px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* SPAN-57 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 39.86px;
height: 20px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Apple-59 */

width: 38px;
height: 20px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;

color: #374151;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* DIV-60 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 24px;

width: 343px;
height: 40px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* P-61 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 343px;
height: 16px;

mix-blend-mode: normal;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Already have an account? ​-63 */

width: 144px;
height: 16px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: center;

color: #4B5563;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Log In-66 */

width: 34px;
height: 16px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: center;

color: #8546EF;

mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
