/*#first{
    background-color: blanchedalmond;
    color: aliceblue;
}
#para{
    background-color: cadetblue;
    color: chartreuse;
}
#second{
    background-color: cornflowerblue;
    color: cornsilk;
}*/
/*.first{
    background-color: darkmagenta;
}
.second{
    background-color: darkgreen;
}*/
/*input{


    background-color: darkgoldenrod;
    color: azure;
}
button{
    background-color: darkorchid;
}*/
/*input,button,#para, .first{

    background-color: greenyellow;
}*/
/* *{
    background-color: cornflowerblue;
} */
 body{
    background-color: rgb(100,100,100);
 }